<div class="good">
  <div class="intoro">
    <p>あなたの性格タイプは…</p>
  </div>
  <div class="sindans-container">
    <% case [@sindans.question1, @sindans.question2, @sindans.question3, @sindans.question4] %>
    <% when ["1", "1", "1", "1"] %>
    <div class="zentai">
      <div class="gazou">
      <%= image_tag 'ウシジマ.jpg',size: "450x450", class: 'hoge' %>
      </div>
      <div class="sumaho"> 
        <div class="name">
          <h2>ウシジマくん(闇金)</h2>
        </div>
        <div class="naiyou">
          <p>あなたは相当な頑固者です。<br>
          目標に向かって真っ直ぐすぎるため、敵を作ることも...<br>
          背後には気を付けてね(笑)</p>
        </div> 
      </div>  
    </div> 

    <% when ["1", "1", "1", "2"] %>
    <div class="zentai">
      <div class="gazou">
      <%= image_tag '後藤くん.jpg',size: "450x450", class: 'hoge' %>
      </div>
      <div class="sumaho"> 
        <div class="name">
          <h2>後藤くん(カリスマモデル)</h2>
        </div>
        <div class="naiyou">
          <p>あなたはエセカリスマです。<br>
          あなたはみんなの注目の的ですが、自己肯定感は低めです。<br>
          何を考えてるか分からないと見せかけて、実は何も考えてないです(笑)</p>
        </div> 
      </div>  
    </div> 
      
    <% when ["1", "1", "2", "1"] %>
    <div class="zentai">
      <div class="gazou">
      <%= image_tag '滑川さん.jpg',size: "450x450", class: 'hoge' %>
      </div>
      <div class="sumaho"> 
        <div class="name">
          <h2>滑川さん（ヤクザ）</h2>
        </div>
        <div class="naiyou">
          <p>あなたは兄貴分です。<br>
          後輩に慕われていますが、少し強引なところがあるでしょう。<br>
          偏見だけど、後輩に裏で悪口言われてそう。</p>
        </div> 
      </div>  
    </div> 
      
    <% when ["1", "1", "2", "2"] %>
      <div class="zentai">
      <div class="gazou">
      <%= image_tag 'センターTくん.jpg',size: "450x450", class: 'hoge' %>
      </div>
      <div class="sumaho"> 
        <div class="name">
          <h2>センターTくん(自称モデル)</h2>
        </div>
        <div class="naiyou">
        <p>あなたは承認欲求が強めです。<br>
           流行りの服や音楽に敏感でしょう。<br>
           インスタで高そうな飯あげてそう。</p>
        </div> 
      </div>  
    </div> 
    
    <% when ["1", "2", "1", "1"] %>
      <div class="zentai">
        <div class="gazou">
        <%= image_tag '洗脳くん.jpg',size: "450x450", class: 'hoge' %>
        </div>
        <div class="sumaho"> 
          <div class="name">
            <h2>洗脳くん(詐欺師)</h2>
          </div>
          <div class="naiyou">
          <p>あなたは嘘をつくのが上手いです。<br>
             あの手この手で人を丸め込みます。<br>
             めちゃくちゃモテそう。</p>
          </div> 
        </div>  
      </div> 
      
    <% when ["1", "2", "1", "2"] %>
      <div class="zentai">
          <div class="gazou">
          <%= image_tag '竹本くん.jpg',size: "450x450", class: 'hoge' %>
          </div>
          <div class="sumaho"> 
            <div class="name">
              <h2>竹本くん(めっちゃ良いやつ)</h2>
            </div>
            <div class="naiyou">
            <p>あなたは理想主義者です。<br>
           自分に都合の悪いことから目を話す癖があります。<br>
            ある日突然、俳優になりたいとか言ってそう。</p>
            </div> 
          </div>  
        </div> 
      
    <% when ["1", "2", "2", "1"] %>
    <div class="zentai">
        <div class="gazou">
        <%= image_tag '戌亥くん.jpg',size: "450x450", class: 'hoge' %>
        </div>
        <div class="sumaho"> 
          <div class="name">
            <h2>戌亥くん</h2>
          </div>
          <div class="naiyou">
          <p>あなたは器用貧乏です。<br>
             言われたことをそつなくこなします。<br>
             仕事めっちゃ出来そう。裏で友達の悪口言ってそう。</p>
          </div> 
        </div>  
      </div> 
     
    <% when ["1", "2", "2", "2"] %>
      <div class="zentai">
          <div class="gazou">
          <%= image_tag 'ホストくん.jpg',size: "450x450", class: 'hoge' %>
          </div>
          <div class="sumaho"> 
            <div class="name">
              <h2>ホストくん</h2>
            </div>
            <div class="naiyou">
            <p>あなたはめっちゃ良い奴です。。<br>
               しかし、八方美人な面があるでしょう。<br>
            病んだストーリー裏垢にあげてそう。</p>
            </div> 
          </div>  
        </div> 
      
    <% when ["2", "1", "1", "1"] %>
      <div class="zentai">
            <div class="gazou">
            <%= image_tag 'ニートくん.jpg',size: "450x450", class: 'hoge' %>
            </div>
            <div class="sumaho"> 
              <div class="name">
                <h2>ニートくん</h2>
              </div>
              <div class="naiyou">
              <p>あなたは将来、計画的に動くことが苦手です。<br>
              将来ニートになる可能性が高いでしょう。<br>
              来世に期待！！！</p>
              </div> 
            </div>  
          </div> 
     
    <% when ["2", "1", "1", "2"] %>
    <div class="zentai">
    <div class="gazou">
    <%= image_tag '肉蝮.jpg',size: "450x450", class: 'hoge' %>
    </div>
    <div class="sumaho"> 
      <div class="name">
        <h2>肉蝮(悪い人)</h2>
      </div>
      <div class="naiyou">
      <p>あなたは平気で人や物を壊します。<br>
      凶暴過ぎて誰も止められないでしょう。<br>
      僕は関わりたくないです。<br>
      </div> 
    </div>  
  </div> 

    <% when ["2", "1", "2", "1"] %>
    <div class="zentai">
    <div class="gazou">
    <%= image_tag '女性債務者A.jpg',size: "450x450", class: 'hoge' %>
    </div>
    <div class="sumaho"> 
      <div class="name">
        <h2>女性債務者A</h2>
      </div>
      <div class="naiyou">
      <p>あなたは見栄っ張りでしょう。<br>
      しかし、協調性が高いという一面も。<br>
      インスタに誕生日祝いのストーリーめっちゃあげてそう。誕生日、年に３回くらいありそう。</p>
      </div> 
    </div>  
  </div> 
      
    <% when ["2", "1", "2", "2"] %>
      <div class="zentai">
      <div class="gazou">
      <%= image_tag '肉蝮2.jpg',size: "450x450", class: 'hoge' %>
      </div>
      <div class="sumaho"> 
        <div class="name">
          <h2>肉蝮(悪い人)</h2>
        </div>
        <div class="naiyou">
        <p>あなたは平気で人や物を壊します。<br>
        凶暴過ぎて誰も止められないでしょう。<br>
        僕は関わりたくないです。</p>
        </div> 
      </div>  
    </div> 
      
    <% when ["2", "2", "1", "1"] %>
      <div class="zentai">
      <div class="gazou">
      <%= image_tag 'サラリーマンくん.jpg',size: "450x450", class: 'hoge' %>
      </div>
      <div class="sumaho"> 
        <div class="name">
          <h2>サラリーマンくん</h2>
        </div>
        <div class="naiyou">
        <p>あなたは真面目すぎるでしょう。<br>
           疲れたら休みましょう。<br>
           電車でデカい声出してそう。</p>
        </div> 
      </div>  
    </div> 
     
    <% when ["2", "2", "1", "2"] %>
      <div class="zentai">
      <div class="gazou">
      <%= image_tag 'モテ男くん.jpg',size: "450x450", class: 'hoge' %>
      </div>
      <div class="sumaho"> 
        <div class="name">
          <h2>モテ男くん(コンサルタント)</h2>
        </div>
        <div class="naiyou">
        <p>あなたは八方美人です。<br>
         仕事はそつなくこなしますが、プライベートで悪さすることも、、 <br>
         たまには自分の意見を言おう。</p>
        </div> 
      </div>  
    </div> 
   
    <% when ["2", "2", "2", "1"] %>
      <div class="zentai">
        <div class="gazou">
        <%= image_tag '金ないおっさん.jpg',size: "450x450", class: 'hoge' %>
        </div>
        <div class="sumaho"> 
          <div class="name">
            <h2>男性債務者A(ハゲ)</h2>
          </div>
          <div class="naiyou">
          <p>あなたは計画性がないでしょう。 <br>
          やるべきことに優先順位をつけてみよう！<br>
          ハゲるな！！</p>
          </div> 
        </div>  
      </div> 
      
    <% when ["2", "2", "2", "2"] %>
        <div class="zentai">
          <div class="gazou">
          <%= image_tag '肉蝮2.jpg',size: "450x450", class: 'hoge' %>
          </div>
          <div class="sumaho"> 
            <div class="name">
              <h2>肉蝮(怖い人)</h2>
            </div>
            <div class="naiyou">
            <p>あなたは平気で人や物を壊します。<br>
            凶暴過ぎて誰も止められないでしょう。<br>
            僕は関わりたくないです。</p>
            </div> 
          </div>  
        </div> 
      
    <% end %>
  </div>
</div>