<div class="good">
  <div class="intoro">
    <p>あなたの性格タイプは…</p>
  </div>
  <div class="sindans-container">
    <% case [@sindans.question1, @sindans.question2, @sindans.question3, @sindans.question4] %>
    <% when ["1", "1", "1", "1"] %>
    <div class="zentai">
      <div class="gazou">
      <%= image_tag 'ウシジマ.jpg',size: "450x450", class: 'hoge' %>
      </div>
      <div class="sumaho"> 
        <div class="name">
          <h2>ウシジマくん(闇金)</h2>
        </div>
        <div class="naiyou">
          <p>あなたは相当な頑固者です。<br>
          目標に向かって真っ直ぐです。その頑固さが災いを招くかも。</p>
        </div> 
      </div>  
    </div> 

    <% when ["1", "1", "1", "2"] %>
    <div class="zentai">
      <div class="gazou">
      <%= image_tag '後藤くん.jpg',size: "450x450", class: 'hoge' %>
      </div>
      <div class="sumaho"> 
        <div class="name">
          <h2>後藤くん</h2>
        </div>
        <div class="naiyou">
          <p>あなたはエセカリスマです。<br>
          何を考えてるか分からないと見せかけて、実は何も考えてないです笑</p>
        </div> 
      </div>  
    </div> 
      
    <% when ["1", "1", "2", "1"] %>
    <div class="zentai">
      <div class="gazou">
      <%= image_tag '滑川さん.jpg',size: "450x450", class: 'hoge' %>
      </div>
      <div class="sumaho"> 
        <div class="name">
          <h2>滑川さん</h2>
        </div>
        <div class="naiyou">
          <p>あなたは兄貴分です。<br>
          偏見だけど、後輩に裏で悪口言われてそう</p>
        </div> 
      </div>  
    </div> 
      
    <% when ["1", "1", "2", "2"] %>
      <div class="zentai">
      <div class="gazou">
      <%= image_tag 'センターTくん.jpg',size: "450x450", class: 'hoge' %>
      </div>
      <div class="sumaho"> 
        <div class="name">
          <h2>センターTくん</h2>
        </div>
        <div class="naiyou">
        <p>あなたは承認欲求が強いです</p>
        <p>インスタで高そうな飯あげてそう</p>
        </div> 
      </div>  
    </div> 
    
    <% when ["1", "2", "1", "1"] %>
      <div class="zentai">
        <div class="gazou">
        <%= image_tag '洗脳くん.jpg',size: "450x450", class: 'hoge' %>
        </div>
        <div class="sumaho"> 
          <div class="name">
            <h2>洗脳くん</h2>
          </div>
          <div class="naiyou">
          <p>あなたは嘘をつくのが上手いです</p>
      <p>なんだかんだ、モテそう。羨ましいぜ、この野郎。</p>
          </div> 
        </div>  
      </div> 
      
    <% when ["1", "2", "1", "2"] %>
      <div class="zentai">
          <div class="gazou">
          <%= image_tag '竹本くん.jpg',size: "450x450", class: 'hoge' %>
          </div>
          <div class="sumaho"> 
            <div class="name">
              <h2>竹本くん<</h2>
            </div>
            <div class="naiyou">
            <p>あなたは理想主義者です</p>
            <p>四十歳過ぎてから俳優になりたいとか言ってそう</p>
            </div> 
          </div>  
        </div> 
      
    <% when ["1", "2", "2", "1"] %>
    <div class="zentai">
        <div class="gazou">
        <%= image_tag '戌亥くん.jpg',size: "450x450", class: 'hoge' %>
        </div>
        <div class="sumaho"> 
          <div class="name">
            <h2>戌亥くん</h2>
          </div>
          <div class="naiyou">
          <p>あなたは器用貧乏です</p>
          <p>仕事めっちゃ出来そう。裏で友達の悪口言ってそう。</p>
          </div> 
        </div>  
      </div> 
     
    <% when ["1", "2", "2", "2"] %>
      <div class="zentai">
          <div class="gazou">
          <%= image_tag 'ホストくん.jpg',size: "450x450", class: 'hoge' %>
          </div>
          <div class="sumaho"> 
            <div class="name">
              <h2>ホストくん</h2>
            </div>
            <div class="naiyou">
            <p>あなたは魅力が魅力があってモテます</p>
            <p>裏で恋人殴ってそう</p>
            </div> 
          </div>  
        </div> 
      
    <% when ["2", "1", "1", "1"] %>
      <div class="zentai">
            <div class="gazou">
            <%= image_tag 'ニートくん.jpg',size: "450x450", class: 'hoge' %>
            </div>
            <div class="sumaho"> 
              <div class="name">
                <h2>ニートくん</h2>
              </div>
              <div class="naiyou">
              <p>あなたは将来、ニートになる可能性が高いです</p>
              <p>来世に期待！！！</p>
              </div> 
            </div>  
          </div> 
     
    <% when ["2", "1", "1", "2"] %>
    <div class="zentai">
    <div class="gazou">
    <%= image_tag '肉蝮.jpg',size: "450x450", class: 'hoge' %>
    </div>
    <div class="sumaho"> 
      <div class="name">
        <h2>肉蝮</h2>
      </div>
      <div class="naiyou">
      <p>あなたは平気で人や物を壊します</p>
      <p>僕は関わりたくないです</p>
      </div> 
    </div>  
  </div> 

    <% when ["2", "1", "2", "1"] %>
    <div class="zentai">
    <div class="gazou">
    <%= image_tag '女性債務者A.jpg',size: "450x450", class: 'hoge' %>
    </div>
    <div class="sumaho"> 
      <div class="name">
        <h2>女性債務者A</h2>
      </div>
      <div class="naiyou">
      <p>あなたは見栄っ張りでしょう</p>
      <p>インスタに誕生日祝いのストーリーめっちゃあげてそう。誕生日、年に３回くらいありそう</p>
      </div> 
    </div>  
  </div> 
      
    <% when ["2", "1", "2", "2"] %>
      <div class="zentai">
      <div class="gazou">
      <%= image_tag '肉蝮2.jpg',size: "450x450", class: 'hoge' %>
      </div>
      <div class="sumaho"> 
        <div class="name">
          <h2>肉蝮</h2>
        </div>
        <div class="naiyou">
        <p>あなたは平気で人や物を壊します</p>
        <p>僕は関わりたくないです</p>
        </div> 
      </div>  
    </div> 
      
    <% when ["2", "2", "1", "1"] %>
      <div class="zentai">
      <div class="gazou">
      <%= image_tag 'サラリーマンくん.jpg',size: "450x450", class: 'hoge' %>
      </div>
      <div class="sumaho"> 
        <div class="name">
          <h2>サラリーマンくん</h2>
        </div>
        <div class="naiyou">
        <p>あなたは疲れているでしょう</p>
        <p>電車でデカい声出してそう</p>
        </div> 
      </div>  
    </div> 
     
    <% when ["2", "2", "1", "2"] %>
      <div class="zentai">
      <div class="gazou">
      <%= image_tag 'モテ男くん.jpg',size: "450x450", class: 'hoge' %>
      </div>
      <div class="sumaho"> 
        <div class="name">
          <h2>モテ男くん</h2>
        </div>
        <div class="naiyou">
        <p>あなたは八方美人です</p>
        <p>たまには自分の意見を言おう</p>
        </div> 
      </div>  
    </div> 
   
    <% when ["2", "2", "2", "1"] %>
      <div class="zentai">
        <div class="gazou">
        <%= image_tag '金ないおっさん.jpg',size: "450x450", class: 'hoge' %>
        </div>
        <div class="sumaho"> 
          <div class="name">
            <h2>金ないおっさん</h2>
          </div>
          <div class="naiyou">
          <p>あなたは計画性がないでしょう</p>
          <p>やるべきことに優先順位をつけてみては</p>
          </div> 
        </div>  
      </div> 
      
    <% when ["2", "2", "2", "2"] %>
        <div class="zentai">
          <div class="gazou">
          <%= image_tag '肉蝮2.jpg',size: "450x450", class: 'hoge' %>
          </div>
          <div class="sumaho"> 
            <div class="name">
              <h2>肉蝮</h2>
            </div>
            <div class="naiyou">
            <p>あなたは平気で人や物を壊します</p>
            <p>僕は関わりたくないです</p>
            </div> 
          </div>  
        </div> 
      
    <% end %>
  </div>
</div>