<h1>(自分の題名)</h1>
<h3>新規投稿ページ</h3>
<%= form_for @comic do |f| %>

# データ型がstringで自由記述の入力フォーム
  <div class="field">
    <%= f.label :項目名 %>
    <%= f.text_field :question, :size => 30 %>
  </div>

# データ型がstringで選択式の入力フォーム
  <div class="field">
    <%= f.label :項目名  %>
    <%= f.select :question, 
    [["A", "A"], 
    ["B", "B"], 
    ["C", "C"]], include_blank: "選択して下さい" %>
  </div>

# データ型がintegerで数字のみを入力するフォーム
  <div class="field">
    <%= f.label :項目名  %>
    <%= f.number_field :question, :size => 10 %>
  </div>

# データ型がtextで自由記述の入力フォーム
  <div class="field">
    <%= f.label :項目名  %>
    <%= f.text_area :question, :size => "30x2" %>
  </div>

  <%= f.submit "投稿する" %>
<% end %>

<%= link_to "一覧に戻る", comics_path %>